/lectureSlides
/p3_imageProcessing/lectureSlides
/p1_DigitalSignalProcessing/lectureSlides
*.asv
/p3_imageProcessing/GaussianFilter_Markus_Hager.m
/p3_imageProcessing/exam
/p3_imageProcessing/literature
/p3_imageProcessing/solution of homework and exercises
/p1_DigitalSignalProcessing/literature
*.bak
project/documentation/LaTeX/SensorSystemsProject.acn
*.aux
project/documentation/LaTeX/SensorSystemsProject.blg
*.glo
project/documentation/LaTeX/SensorSystemsProject.glsdefs
*.ist
project/documentation/LaTeX/SensorSystemsProject.dvi
project/documentation/LaTeX/SensorSystemsProject.log
*.lot
project/documentation/LaTeX/SensorSystemsProject.out
*.gz
project/documentation/LaTeX/SensorSystemsProject.toc
project/documentation/LaTeX/SensorSystemsProject.bbl
*.lof
project/documentation/LaTeX/tex/ImplementationIssuses.pdf
*.bbl
project/documentation/LaTeX/tex/ProblemDescription.blg
*.log
project/documentation/LaTeX/tex/ProblemDescription.out
project/literature/Face Detection - A Survey.pdf
project/literature/On internal representations in face recognition systems.PDF
project/projects2016.pdf
project/literature/Face Recognition- A Literature Survey.pdf
project/documentation/LaTeX/tex/ProblemDescription.pdf
project/documentation/LaTeX/tex/ProblemDescription.dvi
p1_DigitalSignalProcessing/Goertzel - Algorithm/Ilias_Info.txt
p1_DigitalSignalProcessing/Goertzel - Algorithm/Discrete.Time.Signal.Processing.2nd.Ed.Oppenneim.pdf - Verknüpfung.lnk
p1_DigitalSignalProcessing/Goertzel - Algorithm/Goertzel.pdf
*.gif
p1_DigitalSignalProcessing/Goertzel - Algorithm/burtscherTobi/my_goertzel_Burtob.m
p1_DigitalSignalProcessing/Goertzel - Algorithm/burtscherTobi/exercise_goertzel.m
p1_DigitalSignalProcessing/Goertzel - Algorithm/Digital_Signal_Processing_Principles_Algorithms_and_Applications_Third_Edition.pdf
project/literature/Disertation_TrackingAndModelingFocusOfAttentionInMeetings.pdf
project/literature/Face Detection - A Survey_comments.pdf
p1_DigitalSignalProcessing/Goertzel - Algorithm/my_goertzel.m
/p1_DigitalSignalProcessing/Goertzel - Algorithm/hagerMarkus
Project_FaceDetection_Color/meetingNotes/20161115_MoM_LR_Tobi.txt
Project_FaceDetection_Color/documentation/LaTeX/SensorSystemsProject.out
Project_FaceDetection_Color/documentation/LaTeX/SensorSystemsProject.toc
Project_FaceDetection_Color/documentation/LaTeX/SensorSystemsProject.out
/Project_FaceDetection_Color/literature
