/lectureSlides
/p3_imageProcessing/lectureSlides
/p1_DigitalSignalProcessing/lectureSlides
*.asv
/p3_imageProcessing/GaussianFilter_Markus_Hager.m
/p3_imageProcessing/exam
/p3_imageProcessing/literature
/p3_imageProcessing/solution of homework and exercises
/project
/p1_DigitalSignalProcessing/literature
